<div class="holder">
    <div class="loading-icon">
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
        <div class="sheath"><div class="segment"></div></div>
    </div>
    <div class="loading-msg">{{ loading_msg }}</div>
</div>