<div class="more-btn" ng-click="moreBtnClick();" >
	<div class="dot-holder"><span></span></div>
</div>
<div class="footer-btn call-btn" ng-click="callBtnClick();" >
	<span class="icon"><img class="svg phone" src="images/icon-phone.svg" alt="" /></span><span>חייג לנציג</span>
</div>        
<div class="footer-btn trade-btn" ng-click="tradeBtnClick();">
	<span class="icon"><img class="svg graph" src="images/icon-graph.svg" alt="" /></span><span>סחור בעצמך</span>
</div>
<div class="footer-btn home-btn" ng-click="homeBtnClick();">
	<span class="icon"><img class="svg guide" src="images/icon-guide.svg" alt="" /></span><span>המדריכים</span>
</div>
<div class="sub-menu">
    <div class="sub-btn" ng-click="aboutBtnClick();"><span>אודות Colmex</span></div>
    <div class="sub-btn" ng-click="shareBtnClick();"><span>שיתוף TRADOLOGY</span></div>   
    <div class="sub-btn" ng-click="reportBtnClick();"><span>דווח על תקלה</span></div> 
</div>