<div id="choose-lang" ng-class="{ open : langOpen }" ng-show=" showLangBtn " >
	<span class="fa fa-sort-desc"></span>
	<div class="lang-btn he" ng-click="langBtnClick()" val="he" >עבר</div>
    <div class="lang-btn en" ng-click="langBtnClick()" val="en" >Eng</div>
</div>
<div class="header-btn" ng-click="headerClick()" >

    <h1>Tradology</h1>
    <div class="logo-colmex">
        <span class="logo-by">By</span> <span class="icon"><img class="svg logo" src="images/logo-colmex.svg" alt="colmex" /></span>
    </div>
    <p class="slogen">לדעת לסחור בשוק ההון</p>

</div>
